/*Para questões visuais é necessário ter no mínimo os seguintes requisitos CSS. 
a.  Tabelas e o conversor de moedas centralizadas 
b.  Cores de fundo e fontes diferentes 
c.  Quando estiver ocorrendo uma requisição, bloquear os botões e mudá-los de 
aparência para mostrar que estão bloqueados 
d.  Faça sua aplicação ser responsiva a diferentes tipos de tela. 
 
2.  Fica permitido o uso de bootstrap assim como CSS puro*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}